@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Roboto');

@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/Helvetica/HelveticaLight/HelveticaLight.eot");
    src: url("../fonts/Helvetica/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/Helvetica/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

