@import url('./fonts.css');




body{
    font-family: "HelveticaRegular";
}


/* COMMON STYLES */

.go_web_menu{
    width: 100vw;
    height: 100vh;
    background: #e9e9e9;
    display: flex;
}

.menu_component{
    width: 304px;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: .2s linear;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
}

.app_wrapper{
    display: flex;
    overflow: hidden;
    width: 304px;
    transition: .2s linear;
}

.app_wrapper.hide .menu_component{
    left: -304px;
    transition: .2s linear;
}
.app_wrapper.hide{
    width: 0px;
    transition: .2s linear;
}


*{
    user-focus: none;
    user-select: none;
    user-modify: none;
    outline: none;
}

*:focus{
    outline: none;
}









/* MENU_HEADER STYLES */

.menu_header{
    height: 193px;
    width: 100%;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;

}

.menu_header_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.img_block_wrapper{
    position: relative;
    margin-top: 25px;
}

.gear_icon{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.img_icon{
    width: 92px;
    height: 92px;
    border-radius: 100px;
    background: #FFFFFF;
    border: 4px solid #E4E0E1;
    color: #E4E0E1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.img_icon img{
    width: 100%;
}

.img_block{
    height: 140px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.text_block{
    width: 100%;
}

.text_line{
    font-size: 12px;
    font-weight: 300;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.next_btn, .detail_btn{
    width: 35px;
    height: 15px;
    background: transparent;
    border: none;
    color: #E4E0E1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.next_btn:hover, .detail_btn:hover{
    cursor: pointer;
}


.percent_val{
    margin-left: 65px;
}

.prog_line{
    width: 100%;
    height: 2px;
    background: #5F5D5D;
}

.filled_line{
    width: 100%;
    height: 100%;
}

.text_block{
    height: 50px;
    display: flex;
    align-items: center;
}

.img_icon, .gear_icon, .next_btn, .prog_line:hover{
    cursor: pointer;
}

.text_block:hover{
    cursor: pointer;
}

.header_right_part_info{
    display: flex;
    align-items: center;
}

.user_name{
    margin-left: 30px;
}


/* MENU_BODY STYLES */

.menu_body{
    background: #474747;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    overflow-x: hidden;
}

.app_wrapper{
    height: 100%;
    position: relative;
}
.main_menu{
    position: relative;
}

.main_menu_item{
    /*height: 60px;*/
    display: flex ;
    align-items: center;
    justify-content: space-between;
    color: #F7F7F7;
    padding: 0px 10px 0px 10px;
}

.main_menu_item:hover{
    cursor: pointer;
}

.item_text{
    display: flex;
    flex-direction: column;
    height: 40px;
    padding: 10px 0px;
    justify-content: space-around;
}

.info_side{
    display: flex;
    align-items: center;
    height: 100%;
}

.item_title{
    font-size: 16px;
    font-family: 'HelveticaRegular', sans-serif;
    margin-top: 4px;
}

.item_desc{
    font-size: 12px;
    font-family: 'HelveticaLight', sans-serif;
}

.detail_btn{
    display: none;
    width: 15px;
    height: 15px;
}

.detail_btn img, .next_btn img{
    width: auto;
    height: 100%;
}

.main_item_wrapper .detail_btn img{
    transform: rotate(90deg);
    transition: .15s linear;
}

.app_logo_wrapper{
    height: 34px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_item_wrapper.opened_item .detail_btn img{
    transform: rotate(0deg);
    transition: .15s linear;
}

.main_item_wrapper:first-child .main_menu_item{
     box-shadow: 0px 0px 7px 0px #000;
 }

.main_item_wrapper:first-child .detail_btn, .main_item_wrapper.opened_item .detail_btn{
    display: flex;
}


.main_item_wrapper{
    transition: 2s linear;
}
.main_item_wrapper.opened_item{
    transition: 2s linear;
}

.main_item_wrapper.hide{
    display: none;
}

.enable_btn{
    display: none;
    margin-top: -10px;
    background: transparent;
    border: 1px solid gray;
    border-radius:6px;
    color: gray;
    width: 55px;
    justify-content: center;
    margin-right: 5px
}

.enable_btn.enable_flag{
    display: flex;
}
.enable_btn:hover{
    cursor: pointer;
}




/* SUB_ITEM_GROUP STYLES */

.sub_item_group{
    background: #585757;
    margin: 20px 0px;
}

.sub_item_group:first-child{
    margin-top: 0px;
}
.sub_item_group:last-child{
    margin-bottom: 0px;
}


/* SUB_ITEMS STYLES */

.main_item_wrapper .sub_items{
    transition: .2s ease-out;
    /*background: #585757;*/
    flex-direction: column;
    /*height: 0px;*/
    /*opacity: 0;*/
}

.main_item_wrapper.opened_item .sub_items{
    /*height: 244px;*/
    /*opacity: 1;*/
}

.sub_item{
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-bottom: 1px solid #474747;
    color: #F7F7F7;
    font-family: HelveticaLight;
    font-size: 16px;
    transition: .2s linear;
}

.sub_item:last-child{
    border: none;
}

.sub_item_wrapper{
    width: 50px;
    justify-content:center;
    align-items: center;
    display: flex;
}

.sub_item_text{
    margin-left: 15px;
}

.sub_item:hover{
    cursor: pointer;
    background: #373636;
    transition: .2s linear;
}







/* SETTINGS STYLES */

.sets_items{
    display: flex;
    flex-direction: column;
    color: #F7F7F7;
    margin-bottom: 15px;
    height: 120px;
}

.sets_item{
    margin: 0px 20px;
    height: 60px;
    display: flex;
    align-items: center;
}

.sets_item_wrapper{
    transition: .2s linear;
}

.sets_item_wrapper:hover{
    background: #373636;
    transition: .2s linear;
    cursor: pointer;
}


.sets_icon{
    width: 50px;
    display: flex ;
    align-items: center ;
    justify-content: center ;
}
.sets_text{
    margin-left: 15px;
    font-family: HelveticaLight;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.sets_desc{
    font-size: 12px;
    margin-top: 5px;
}






/* permanent styles */

.content{
    display: flex;
    flex: 1;
    height: 55px;
    background: #E12131;
    align-items: center ;
    padding: 0px 10px;
}

.menu_btn{
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px
}

.menu_btn:hover{
    cursor: pointer;
}

.menu_btn span{
    background: #fff;
    width: 30px;
    height: 3px;
    display: block;
}

@media(max-width: 480px){
    .app_wrapper{
        width: 80%;
    }
    .menu_component{
        width: 100%;
    }
    .text_line{
        justify-content: space-between;
    }
    .user_name{
        margin-left: 0px;
        text-transform: capitalize;
    }
    .app_logo_wrapper{
        width: 60px;
    }
    .sub_item_wrapper{
        width: 30px;
    }
    .menu_header_wrapper{
        flex-direction: row;
    }
    .img_icon{
        width: 42px;
        height: 42px;
        border-width: 1px;
    }
    .gear_icon{
        display: none;
    }
    .img_block_wrapper{
        margin-top: 0px;
    }
    .percent_val{
        margin-left: 0px;
    }
    .img_block{
        width: auto;
        height: auto;
        margin-left: 20px;
        margin-right: 15px;
    }
    .menu_header{
        height: 80px;
    }
    .user_name_text{
        display: none;
    }

}



/* RTL DIRECTION */

.go_web_menu.rtl{
    direction: rtl;
}

.go_web_menu.rtl .next_btn_icon{
    transform: scale(-1, 1) !important;
}

.go_web_menu.rtl .user_name{
    margin-left: 0px;
    margin-right: 30px;
}

.go_web_menu.rtl .percent_val{
    margin-left: 0px;
    margin-right: 65px;
}

.go_web_menu.rtl .detail_btn_icon{
    transform: scale(-1, 1);
    transition: .2s linear;
}

.go_web_menu.rtl .main_item_wrapper.opened_item .detail_btn_icon{
    transform: scale(-1, 1) rotate(90deg);
    transition: .2s linear;
}
